body {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.app-heading {
    text-align: center;
    font-family: 'Gotu', sans-serif;
}

.age-form {
    height: 600px;
    margin: 0 auto;
    padding-top: 50px;
    border: 1px solid #0B4B6B;
}

.container {
    margin: 0 300px 0 300px;
    display: block;
}

.form-row {
    margin: 0 auto;
    display: block;
    padding-bottom: 60px;
    width: 50%;
}

.form-row label {
    color: black;
    font-weight: bold;
}

#birthday-label {
    margin-right: 77px;
}

#name-label {
    margin-right: 100px;
}

.form-input {
    height: 40px;
    border: 1px solid #0B4B6B;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#name {
    width: 410px;
    cursor: pointer;
}

#year, #month, #day {
    width: 120px;
    cursor: pointer;
}

#submitBtn {
    border: none;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    background-color: #0B4B6B;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

#submitBtn:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid #0B4B6B;
    color: black;
}

#result {
    text-align: center;
    font-size: 24px;
}

.error {
    margin-top: 20px;
    margin-left: 170px;
    color: #AD1818;
    font-weight: bold;
    font-family: 'Gotu', sans-serif;
}

.all-error {
    text-align: center;
    color: #AD1818;
    font-weight: bold;
    font-family: 'Gotu', sans-serif;

}

#result {
    height: 50px;
    margin: 0 auto;
}


#yearList {
    position: absolute;
    z-index: 1;
    margin-left: 165px;
    background-color: whitesmoke;
    cursor: pointer;
}

#yearList ul, #monthList ul, #dayList ul {
    margin-left: -30px;
    list-style: none;
    font-size: 16px;
    width: 120px;
    overflow: hidden;
    overflow-y: scroll;
    height: 150px;
}

#yearList li, #monthList li, #dayList li {
    margin-bottom: 20px;
}

#yearList li:hover, #monthList li:hover, #dayList li:hover {
    background-color: #A8A6A6;
    padding: 10px 0 10px 10px;
    margin-left: -10px;
    color: whitesmoke;
}

#monthList {
    position: absolute;
    z-index: 1;
    margin-left: 315px;
    background-color: whitesmoke;
    cursor: pointer;
}

#dayList {
    position: absolute;
    z-index: 1;
    margin-left: 460px;
    background-color: whitesmoke;
    cursor: pointer;
}
